
.left-image{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  position: relative;
  background-color: var(--brand-black);
  /* background-color: rgba(0, 0, 0, 0.6); */
}

.authpage .row{
  width: 900px;
  min-height: 450px;
  border-radius: 10px;
  background-color: var(--brand-white);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}
.left-image p {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: var(--brand-white);
  text-wrap: wrap;
  text-align: center;
  font-size: large;
  font-weight: 700;
}

.new-line {
  display: block;
  font-size: 25px;
}