:root {
  --brand-black: #000000;
  --brand-red: #FF0000 ;
  --brand-grey: #333333;
  --brand-grey-2: #555555;
  --brand-white: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.light-theme, .navbar.light-theme, .dropdown-menu.light-theme, .form-control.light-theme {
  background-color: var(--brand-white);
  color: var(--brand-black);
}

body.dark-theme, .navbar.dark-theme, .dropdown-menu.dark-theme, .form-control.dark-theme  {
  background-color: var(--brand-black);
  color: var(--brand-white);
}

.light-theme .navbar-brand,
.light-theme .navbar-nav .nav-link,
.light-theme .dropdown-item {
  color: var(--brand-black);
}

.dark-theme .navbar-brand,
.dark-theme .navbar-nav .nav-link,
.dark-theme .dropdown-item {
  color: var(--brand-white);
}

.light-theme .navbar-nav .nav-link.active,
.light-theme .navbar-nav .nav-link.show {
  color: var(--brand-black);
}

.light-theme .form-control {
  border: 1px solid var(--brand-grey);
}

.dark-theme .form-control {
  background-color: var(--brand-white);
  color: var(--brand-black);
}
